<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindorks.test.navutiltest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <!--singleTop is added so that onBackPress can call onNewIntent-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".SubActivity"
            android:label="Sub Activity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!--singleTop is added so that onBackPress can call onNewIntent-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".SubSubActivity"
            android:label="Sub Sub Activity"
            android:launchMode="singleTop"
            android:parentActivityName=".SubActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!--singleTop is added so that onBackPress can call onNewIntent-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubActivity" />
        </activity>
    </application>

</manifest>